<!DOCTYPE html>
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<section>
  <p>
    <%= @payment %>
    We appreciate your business! If you have any questions, please email
    <a href="mailto:orders@example.com">orders@example.com</a>.
  </p>
</section>
</body>
</html>