<%= form_tag payments_path do %>
  <div class="form-row">
    <%= content_tag(:div, "", id: 'product-id', data: {source: @product})%>

    <%= render 'products/product' %>

    <div id="card-errors" role="alert"></div>
  </div>

  <script src=<%= "https://www.paypal.com/sdk/js?disable-funding=venmo,card&components=buttons&client-id=#{ENV['PAY_PAL_CLIENT_PUBLIC']}"%>></script>
  <div id="paypal-button-container"></div>
  <div id="express-checkout-element"></div>
<% end %>

