<div id="<%= dom_id product %>">
  <div class="flex product">
    <span>ID: <%= product.id %></span>
    <div>Name: <%= product.name %></div>
    <div>Price: <%= product.price_cents %></div>
  </div>

</div>

<style>
  .flex{
      display: flex;
  }
  .product{
      width: fit-content;
      margin: 10px 0px;
      padding: 5px;
      flex-direction: column;
      border-left: 6px solid #ccc;
      border-color: #2196F3;
      background: #ddffff;
  }
</style>