<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <title>Document</title>

  </head>
  <body>
  <%= content_tag(:div, "", id: 'stripe-key', data: {source: ENV['STRIPE_PUBLISHABLE_KEY']})%>
  <%= content_tag(:div, "", id: 'paypal-env', data: {source: ENV['PAY_PAL_ENVIROMENMENT']})%>

  <%= yield %>
  </body>
</html>

<%= javascript_pack_tag 'application' %>